.wrapper {
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: 1100px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    min-height: 100%;
}

.footer {
    display: flex;
    min-height: 10%;
}

.header {
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    min-height: 5%;
    min-width: 100%
    flex-wrap: wrap;
}

.leftBar {
    display: flex;
    border: 1px solid black;
    min-height: 100%;
    min-width: 15%;
    flex-direction: column;
}

.mainBar {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 100%;
    min-width: 84.8%;
    background-color: #221990;
}

.titleBar {
    display: flex;
    min-height: 4%;
    border-bottom: 1px solid black;
}

.contentBar {
    display: flex;
    flex-direction: column;
    min-height: 92%;
    background-color: #119081;
}

.hotBar {
    display: flex;
    flex-direction: row;
    min-height: 4%;
    border-top: 1px solid black;
}

.leftLinks {
    font-size: 1.2em;
    text-align: left;
}

.inputrow {
    display: flex;
    flex-direction: row;
}

#buttonBox {
    order: 2;
    flex-direction: row;
    flex-grow: 3;
}

#logo {
    order: 1;
    flex-grow: 0.175;
}

#loginBox {
    order: 3;
    flex-grow: 0.5;
}

.workpacklinks:link {
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.workpacklinks:visited {
    text-decoration: none;
}

.workpacklinks:hover {
    text-decoration: underline;
    background: #527fa9;

    -webkit-box-shadow: inset 0 0 30px 15px #49628a;
    -moz-box-shadow: inset 0 0 30px 15px #49628a;
    box-shadow: inset 0 0 30px 15px #49628a;

    -webkit-transition: 200ms linear 0s;
    -moz-transition: 200ms linear 0s;
    -o-transition: 200ms linear 0s;
    transition: 200ms linear 0s;
}

#leftHeader {
    flex-grow: 0.01;
    text-align: center;
}

.workpackinner {
    margin-bottom: 5px;
}

#workpackwrapper {
    justify-content: flex-start;
    align-content: space-around;
}

#tableBox {

}

.rows {
    border: 1px solid black;
}

.datas {
    border: 1px solid black;
}

.mainbuts {
    width: 90px;
    height: 22px;
}

.borderestdiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    min-height: 120px;
    background-color: #781611;
}

#calcwrapper {
	display: flex;
	flex-direction: row;
	background-color: #900198;
	min-height: 80px;
    width: 100%;
    margin-bottom: 20px;
}

#totalsBlock {
	display: flex;
	flex-direction: column;
	background-color: #118971;
    flex: 0.3;
}

#bottomWrapper {
	display: flex;
	flex-direction: row;
}

#hoursWrapper {
	display: flex;
	flex-direction: column;
    flex: 1;
}

#totalsHeader {
	background-color: #781116;
}

#resourcesBlock {
    display: flex;
	background-color: #908117;
    flex: 1;
}

#manhours {
    display: flex;
	background-color: #381561;
    flex: 1;
}

#duration {
    display: flex;
	background-color: #208117;
    flex: 1;
}

#buttonsBlock {
	background-color: #210971;
	display: flex;
	flex-direction: column;
    flex: 0.3;
}

#formBlock {
    background-color: #119911;
    display: flex;
    flex: 1;
    flex-direction: column;
}

#tablesBlock {
    background-color: #381751;
    display: flex;
    flex-grow: 2
}

.buts {
    width: 70px;
    height: 24px;
}

.nameDiv {
    display: flex;
    flex-direction: row;
}
