body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

img {
    border: none;
}

input {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0;
}

input[type=image] {
    border: none;
}

textarea {
    border: 1px solid black;
    padding: 0;
}

* {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
}

a:link {
    color: #393939;
    text-decoration: underline;
}

a:visited {
    color: #393939;
    text-decoration: underline;
}

a:hover {
    color: #a3a3a3;
    text-decoration: underline;
}

a:active {
    color: #393939;
    text-decoration: underline;
}

.DefaultParagraph {
    text-align: left;
    margin: 0;
    text-indent: 0;
    line-height: 1px;
    font-family: "Verdana", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
    font-variant: normal;
    font-size: 16px;
    vertical-align: 0;
}

.Body {
    text-align:left;
    margin:0 0 12px;
    text-indent:0;
    line-height:1px;
    font-family:"Verdana", sans-serif;
    font-style:normal;
    font-weight:normal;
    color:#000000;
    background-color:transparent;
    font-variant:normal;
    font-size:16px;
    vertical-align:0;
}

.Normal {
    text-align:left;
    margin:0;
    text-indent:0;
    line-height:1px;
    font-family:"Verdana", sans-serif;
    font-style:normal;
    font-weight:normal;
    color:#000000;
    background-color:transparent;
    font-variant:normal;
    font-size:16px;
    vertical-align:0;
}

.Table-Body {
    text-align:center;
    margin:0;
    text-indent:0;
    line-height:1px;
    font-family:"Verdana", sans-serif;
    font-style:normal;
    font-weight:normal;
    color:#000000;
    background-color:transparent;
    font-variant:normal;
    font-size:16px;
    vertical-align:middle;
}

#workpacknumberlabel {
    position: absolute;
    width: 200px;
}

#workpacknumbervalue {
    position: absolute;
    left: 170px;
    width: 400px;
}

#workpacklinenumberlabel {
    position: absolute;
    top: 30px;
    width: 200px;
}

#workpacklinenumbervalue {
    position: absolute;
    top: 30px;
    left: 170px;
    width: 400px;
}

#workpacklineclasslabel {
    position: absolute;
    top: 60px;
    width: 200px;
}

#workpacklineclassvalue {
    position: absolute;
    top: 60px;
    left: 170px;
    width: 400px;
}

#workpackprojectlabel {
    position: absolute;
    top: 90px;
    width: 200px;
}

#workpackprojectvalue {
    position: absolute;
    top: 90px;
    left: 170px;
    width: 400px;
}

#workpackleadlabel {
    position: absolute;
    top: 120px;
    width: 200px;
}

#workpackleadvalue {
    position: absolute;
    top: 120px;
    left: 170px;
    width: 400px;
}

#workpackzonelabel {
    position: absolute;
    top: 150px;
    width: 200px;
}

#workpackzonevalue {
    position: absolute;
    top: 150px;
    left: 170px;
    width: 400px;
}

#explaindiv {
    position: absolute;
    top: 200px;
    width: 500px;
}

#flangeHotCut {

}

#alky {

}

#hacksaw {

}

#baset {

}






#mainTableDiv {
    position: absolute;
    left: 215px;
    top: 450px;
    border: 1px solid black;
    min-height:1210px;
    min-width: 1100px;
}