{% extends 'site_base.html' %}

{% block mainBar %}
    {% block titleBar %}
        <strong>Edit Existing WorkPack</strong>
    {% endblock %}
    {% block contentBar %}
        <form action="" method="post">{% csrf_token %}
            <div class="inputrow"><div id="wpnumfield">Enter the workpack number:</div>
                <div id="wpnumfieldbox">{{ editform.workpacknumber }}</div>
            </div>
            <div class="inputrow"><div id="wplinenumfield">Enter the workpack line number:</div>
                <div id="wplinenumfieldbox">{{ editform.workpacklinenumber }}</div>
            </div>
            <div class="inputrow"><div id="wplineclassfield">Enter the workpack line class:</div>
                <div id="wplineclassfieldbox">{{ editform.workpacklineclass }}</div>
            </div>
            <div class="inputrow"><div id="clientfield">Client:</div>
                <div id="wpnumfieldbox">{{ editform.client }}</div>
            </div>
            <div class="inputrow"><div id="leadfield">Enter the leads name:</div>
                <div id="wpnumfieldbox">{{editform.lead }}</div>
            </div>
            <div class="inputrow"><div id="datefield">Enter the date:</div>
                <div id="wpnumfieldbox">{{ editform.datecreated }}</div>
            </div>
            <div class="inputrow"><div id="projectfield">Enter the project name:</div>
                <div id="wpnumfieldbox">{{ editform.project }}</div>
            </div>
            <div class="inputrow"><div id="areafield">Enter the area name:</div>
                <div id="wpnumfieldbox">{{ editform.area }}</div>
            </div>
            <input type="submit" id="subwplinenum" value="Save">
        </form>
    {% endblock %}
    {% block hotBar %}

    {% endblock %}
{% endblock %}