{% extends 'site_base.html' %}

{% block logoblock %}
    Piping Scope Database
{% endblock %}

{% block loginbox %}

{% endblock %}

{% block leftBar %}

{% endblock %}

{% block mainBar %}
    {% block titleBar %}

    {% endblock %}
    {% block contentBar %}
        <form action="" method="post">

        </form>
        <a href="/"><input type="button" id="registerButton" value="Register"></a>
    {% endblock %}
    {% block hotBar %}

    {% endblock %}
{% endblock %}

{% block footer %}

{% endblock %}