{% extends 'site_base.html' %}

{% block logoblock %}
    Piping Scope Database
{% endblock %}

{% block mainBar %}
    {% block contentBar %}
        <div class="nameDiv">FieldWelds</div>
        <div id="calcwrapper">
            <div id="totalsBlock">
                <div id="totalsHeader">
                    Totals
                </div>
                <div id="bottomWrapper">
                    <div id="resourcesBlock">
                        <input type="text">
                    </div>
                    <div id="hoursWrapper">
                        <div id="manhours">
                            {{ manhours }}
                        </div>
                        <div id="duration">
                            {{ duration }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="buttonsBlock">
                <div id="addButton">
                    <input type="submit" id="addButt" value="Add" class="buts">
                </div>
                <div id="save">
                    <input type="submit" id="saveButt" value="Save" class="buts">
                </div>
                <div id="cancel">
                   <input type="submit" id="canButt" value="Cancel" class="buts">
                </div>
            </div>
            <div id="formBlock">
                <form action="" method="post">
                    <div id="lineclass">
                        Lineclass :
                        <select id="diaSelect">
                            {% for lineclass in lineclasss %}
                                <option value="{{ lineclass.lineclasses_id }}">{{ lineclass.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="diameter">
                        Diameter :
                        <select id="diaSelect">
                            {% for diameter in diameters %}
                                <option value="{{ diameter.sizelist_id }}">{{ diameter.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="calcx">
                        FieldWelds : <input type="text">
                    </div>
                </form>
            </div>

            <div id="tablesBlock">
                <div id="tableHeader">
                    Tables
                </div>
            </div>
        </div>
        <div class="nameDiv">Demolition Length</div>
        <div id="calcwrapper">
            <div id="totalsBlock">
                <div id="totalsHeader">
                    Totals
                </div>
                <div id="bottomWrapper">
                    <div id="resourcesBlock">
                        <input type="text">
                    </div>
                    <div id="hoursWrapper">
                        <div id="manhours">
                            {{ manhours }}
                        </div>
                        <div id="duration">
                            {{ duration }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="buttonsBlock">
                <div id="addButton">
                    <input type="submit" id="addButt" value="Add" class="buts">
                </div>
                <div id="save">
                    <input type="submit" id="saveButt" value="Save" class="buts">
                </div>
                <div id="cancel">
                   <input type="submit" id="canButt" value="Cancel" class="buts">
                </div>
            </div>
            <div id="formBlock">
                <form action="" method="post">
                    <div id="lineclass">
                        Lineclass :
                        <select id="diaSelect">
                            {% for lineclass in lineclasss %}
                                <option value="{{ lineclass.lineclasses_id }}">{{ lineclass.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="diameter">
                        Diameter :
                        <select id="diaSelect">
                            {% for diameter in diameters %}
                                <option value="{{ diameter.sizelist_id }}">{{ diameter.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="calcx">
                        Length : <input type="text">
                    </div>
                </form>
            </div>

            <div id="tablesBlock">
                <div id="tableHeader">
                    Tables
                </div>
            </div>
        </div>
        <div class="nameDiv">Installation Length</div>
        <div id="calcwrapper">
            <div id="totalsBlock">
                <div id="totalsHeader">
                    Totals
                </div>
                <div id="bottomWrapper">
                    <div id="resourcesBlock">
                        <input type="text">
                    </div>
                    <div id="hoursWrapper">
                        <div id="manhours">
                            {{ manhours }}
                        </div>
                        <div id="duration">
                            {{ duration }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="buttonsBlock">
                <div id="addButton">
                    <input type="submit" id="addButt" value="Add" class="buts">
                </div>
                <div id="save">
                    <input type="submit" id="saveButt" value="Save" class="buts">
                </div>
                <div id="cancel">
                   <input type="submit" id="canButt" value="Cancel" class="buts">
                </div>
            </div>
            <div id="formBlock">
                <form action="" method="post">
                    <div id="lineclass">
                        Lineclass :
                        <select id="diaSelect">
                            {% for lineclass in lineclasss %}
                                <option value="{{ lineclass.lineclasses_id }}">{{ lineclass.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="diameter">
                        Diameter :
                        <select id="diaSelect">
                            {% for diameter in diameters %}
                                <option value="{{ diameter.sizelist_id }}">{{ diameter.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="calcx">
                        Length: <input type="text">
                    </div>
                </form>
            </div>

            <div id="tablesBlock">
                <div id="tableHeader">
                    Tables
                </div>
            </div>
        </div>
        <div class="nameDiv">Number of Flanges for Isolation and PT</div>
        <div id="calcwrapper">
            <div id="totalsBlock">
                <div id="totalsHeader">
                    Totals
                </div>
                <div id="bottomWrapper">
                    <div id="resourcesBlock">
                        <input type="text">
                    </div>
                    <div id="hoursWrapper">
                        <div id="manhours">
                            {{ manhours }}
                        </div>
                        <div id="duration">
                            {{ duration }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="buttonsBlock">
                <div id="addButton">
                    <input type="submit" id="addButt" value="Add" class="buts">
                </div>
                <div id="save">
                    <input type="submit" id="saveButt" value="Save" class="buts">
                </div>
                <div id="cancel">
                   <input type="submit" id="canButt" value="Cancel" class="buts">
                </div>
            </div>
            <div id="formBlock">
                <form action="" method="post">
                    <div id="lineclass">
                        Lineclass :
                        <select id="diaSelect">
                            {% for lineclass in lineclasss %}
                                <option value="{{ lineclass.lineclasses_id }}">{{ lineclass.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="diameter">
                        Diameter :
                        <select id="diaSelect">
                            {% for diameter in diameters %}
                                <option value="{{ diameter.sizelist_id }}">{{ diameter.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="calcx">
                        NoF-PT : <input type="text">
                    </div>
                </form>
            </div>

            <div id="tablesBlock">
                <div id="tableHeader">
                    Tables
                </div>
            </div>
        </div>
        <div class="nameDiv">Number of Flanges for Reinstatement</div>
        <div id="calcwrapper">
            <div id="totalsBlock">
                <div id="totalsHeader">
                    Totals
                </div>
                <div id="bottomWrapper">
                    <div id="resourcesBlock">
                        <input type="text">
                    </div>
                    <div id="hoursWrapper">
                        <div id="manhours">
                            {{ manhours }}
                        </div>
                        <div id="duration">
                            {{ duration }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="buttonsBlock">
                <div id="addButton">
                    <input type="submit" id="addButt" value="Add" class="buts">
                </div>
                <div id="save">
                    <input type="submit" id="saveButt" value="Save" class="buts">
                </div>
                <div id="cancel">
                   <input type="submit" id="canButt" value="Cancel" class="buts">
                </div>
            </div>
            <div id="formBlock">
                <form action="" method="post">
                    <div id="lineclass">
                        Lineclass :
                        <select id="diaSelect">
                            {% for lineclass in lineclasss %}
                                <option value="{{ lineclass.lineclasses_id }}">{{ lineclass.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="diameter">
                        Diameter :
                        <select id="diaSelect">
                            {% for diameter in diameters %}
                                <option value="{{ diameter.sizelist_id }}">{{ diameter.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="calcx">
                        NoF-RI : <input type="text">
                    </div>
                </form>
            </div>

            <div id="tablesBlock">
                <div id="tableHeader">
                    Tables
                </div>
            </div>
        </div>
        <div class="nameDiv">Number of Joints</div>
        <div id="calcwrapper">
            <div id="totalsBlock">
                <div id="totalsHeader">
                    Totals
                </div>
                <div id="bottomWrapper">
                    <div id="resourcesBlock">
                        <input type="text">
                    </div>
                    <div id="hoursWrapper">
                        <div id="manhours">
                            {{ manhours }}
                        </div>
                        <div id="duration">
                            {{ duration }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="buttonsBlock">
                <div id="addButton">
                    <input type="submit" id="addButt" value="Add" class="buts">
                </div>
                <div id="save">
                    <input type="submit" id="saveButt" value="Save" class="buts">
                </div>
                <div id="cancel">
                   <input type="submit" id="canButt" value="Cancel" class="buts">
                </div>
            </div>
            <div id="formBlock">
                <form action="" method="post">
                    <div id="lineclass">
                        Lineclass :
                        <select id="diaSelect">
                            {% for lineclass in lineclasss %}
                                <option value="{{ lineclass.lineclasses_id }}">{{ lineclass.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="diameter">
                        Diameter :
                        <select id="diaSelect">
                            {% for diameter in diameters %}
                                <option value="{{ diameter.sizelist_id }}">{{ diameter.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="calcx">
                        NoJ : <input type="text">
                    </div>
                </form>
            </div>

            <div id="tablesBlock">
                <div id="tableHeader">
                    Tables
                </div>
            </div>
        </div>
        <div class="nameDiv">Number of Cold Cuts</div>
        <div id="calcwrapper">
            <div id="totalsBlock">
                <div id="totalsHeader">
                    Totals
                </div>
                <div id="bottomWrapper">
                    <div id="resourcesBlock">
                        <input type="text">
                    </div>
                    <div id="hoursWrapper">
                        <div id="manhours">
                            {{ manhours }}
                        </div>
                        <div id="duration">
                            {{ duration }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="buttonsBlock">
                <div id="addButton">
                    <input type="submit" id="addButt" value="Add" class="buts">
                </div>
                <div id="save">
                    <input type="submit" id="saveButt" value="Save" class="buts">
                </div>
                <div id="cancel">
                   <input type="submit" id="canButt" value="Cancel" class="buts">
                </div>
            </div>
            <div id="formBlock">
                <form action="" method="post">
                    <div id="lineclass">
                        Lineclass :
                        <select id="diaSelect">
                            {% for lineclass in lineclasss %}
                                <option value="{{ lineclass.lineclasses_id }}">{{ lineclass.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="diameter">
                        Diameter :
                        <select id="diaSelect">
                            {% for diameter in diameters %}
                                <option value="{{ diameter.sizelist_id }}">{{ diameter.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="calcx">
                        NoCC : <input type="text">
                    </div>
                </form>
            </div>

            <div id="tablesBlock">
                <div id="tableHeader">
                    Tables
                </div>
            </div>
        </div>
        <div class="nameDiv">Number of Hot Cuts</div>
        <div id="calcwrapper">
            <div id="totalsBlock">
                <div id="totalsHeader">
                    Totals
                </div>
                <div id="bottomWrapper">
                    <div id="resourcesBlock">
                        <input type="text">
                    </div>
                    <div id="hoursWrapper">
                        <div id="manhours">
                            {{ manhours }}
                        </div>
                        <div id="duration">
                            {{ duration }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="buttonsBlock">
                <div id="addButton">
                    <input type="submit" id="addButt" value="Add" class="buts">
                </div>
                <div id="save">
                    <input type="submit" id="saveButt" value="Save" class="buts">
                </div>
                <div id="cancel">
                   <input type="submit" id="canButt" value="Cancel" class="buts">
                </div>
            </div>
            <div id="formBlock">
                <form action="" method="post">
                    <div id="lineclass">
                        Lineclass :
                        <select id="diaSelect">
                            {% for lineclass in lineclasss %}
                                <option value="{{ lineclass.lineclasses_id }}">{{ lineclass.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="diameter">
                        Diameter :
                        <select id="diaSelect">
                            {% for diameter in diameters %}
                                <option value="{{ diameter.sizelist_id }}">{{ diameter.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="calcx">
                        NoHC : <input type="text">
                    </div>
                </form>
            </div>

            <div id="tablesBlock">
                <div id="tableHeader">
                    Tables
                </div>
            </div>
        </div>
    {% endblock %}
    {% block hotBar %}
    {% endblock %}
{% endblock %}