{% extends 'site_base.html' %}

{% block meta %}
    <link href="/static/css/site_base.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/javascript/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/javascript/base_functions.js"></script>
{% endblock %}

{% block logoblock %}
    Piping Scope Database
{% endblock %}

{% block mainBar %}
    {% block contentBar %}
        <div id="left">
            <div id="epdslabels">
                <div class="boxsizess">
                    EPDS Estimate Calculations
                </div>
                <div class="boxsizes">
                    Erect Scaffold
                </div>
                <div class="boxsizes">
                    Remove Insulation
                </div>
                <div class="boxsizes">
                    Remove insulation (to quantify with OPS or TECH)
                </div>
                <div class="boxsizes">
                    Install isolation and PT spades
                </div>
                <div class="boxsizes">
                    OPS to verify the spade positions
                </div>
                <div class="boxsizes">
                    Obtain set up/cold cut/hotwork permits
                </div>
                <div class="boxsizes">
                    Hp flushing out of lines
                </div>
                <div class="boxsizes">
                    Power Brush
                </div>
                <div class="boxsizes">
                    Disconnect Instruments
                </div>
                <div class="boxsizes">
                    Cold Cut Line
                </div>
                <div class="boxsizes">
                    Hot cut line
                </div>
                <div class="boxsizes">
                    Dismantle steam tracing
                </div>
                <div class="boxsizes">
                    Unbolt joints
                </div>
                <div class="boxsizes">
                    Rigging activities: Install Spades, Rig out
                </div>
                <div class="boxsizes">
                    Install pipe supports
                </div>
                <div class="boxsizes">
                    Rigging activities: Rig up new line, bolt up
                </div>
                <div class="boxsizes">
                    Grind and prep new section of line
                </div>
                <div class="boxsizes">
                    QC fit up check
                </div>
                <div class="boxsizes">
                    Fit, tack and weld out section of line
                </div>
                <div class="boxsizes">
                    Bolt up joints
                </div>
                <div class="boxsizes">
                    Plumbers plug installation
                </div>
                <div class="boxsizes">
                    Set up purge of line preheat
                </div>
                <div class="boxsizes">
                    Install pipe supports
                </div>
                <div class="boxsizes">
                    Install steam tracing
                </div>
                <div class="boxsizes">
                    NDT
                </div>
                <div class="boxsizes">
                    PWHT
                </div>
                <div class="boxsizes">
                    NDT after PWHT
                </div>
                <div class="boxsizes">
                    Inspection report
                </div>
                <div class="boxsizes">
                    Prepare and pressure test line
                </div>
                <div class="boxsizes">
                    Reinstate instruments
                </div>
                <div class="boxsizes">
                    Reinstate line and despade
                </div>
                <div class="boxsizes">
                    TSA/touch up paint on field welds
                </div>
                <div class="boxsizes">
                    Pickling Passivate
                </div>
                <div class="boxsizes">
                    Carry out flange management
                </div>
                <div class="boxsizes">
                    Sapref quality checks
                </div>
                <div class="boxsizes">
                    Sapref OPS acceptance checks
                </div>
            </div>
            <div id="epdsboxes">
                <div class="maingrouper">
                    <div id="resourceheader" class="smallsize">
                        R
                    </div>
                    <div id="manhoursheader" class="smallsize">
                        M
                    </div>
                    <div id="durationheader" class="smallsize">
                        D
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="erectscaffoldresource" class="smallsize">
                        0
                    </div>
                    <div id="erectscaffoldmanhour" class="smallsize">
                        0
                    </div>
                    <div id="erectscaffoldduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="removeinsulationresource" class="smallsize">
                        0
                    </div>
                    <div id="removeinsulationmanhour" class="smallsize">
                        0
                    </div>
                    <div id="removeinsulationduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="removeinsulationtoresource" class="smallsize">
                        0
                    </div>
                    <div id="removeinsulationtomanhour" class="smallsize">
                        0
                    </div>
                    <div id="removeinsulationtoduration" class="smallsize">
                        0
                    </div>
                </div>
                 <div class="maingrouper">
                    <div id="pressuretestresource" class="smallsize">
                        0
                    </div>
                    <div id="pressuretestmanhour" class="smallsize">
                        0
                    </div>
                    <div id="pressuretestduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="opeverifyresource" class="smallsize">
                        0
                    </div>
                    <div id="opeverifymanhour" class="smallsize">
                        0
                    </div>
                    <div id="opeverifyduration" class="smallsize">
                        {{ bases.opstoverifyspades }}
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="opspermitresource" class="smallsize">
                        0
                    </div>
                    <div id="opspermitmanhour" class="smallsize">
                        0
                    </div>
                    <div id="opspermitduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="hpflushresource" class="smallsize">
                        0
                    </div>
                    <div id="hpflushmanhour" class="smallsize">
                        0
                    </div>
                    <div id="hpflushduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="pbrushresource" class="smallsize">
                        0
                    </div>
                    <div id="pbrushmanhour" class="smallsize">
                        0
                    </div>
                    <div id="pbrushduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="dcinstrresource" class="smallsize">
                        0
                    </div>
                    <div id="dcinstrmanhour" class="smallsize">
                        0
                    </div>
                    <div id="dcinstrduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="coldcutlineresource" class="smallsize">
                        0
                    </div>
                    <div id="coldcutlinemanhour" class="smallsize">
                        0
                    </div>
                    <div id="coldcutlineduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="hotcutlineresource" class="smallsize">
                        0
                    </div>
                    <div id="hotcutlinemanhour" class="smallsize">
                        0
                    </div>
                    <div id="hotcutlineduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="dimsteamtraceresource" class="smallsize">
                        0
                    </div>
                    <div id="dimsteamtracemanhour" class="smallsize">
                        0
                    </div>
                    <div id="dimsteamtraceduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="unboltjointsresource" class="smallsize">
                        0
                    </div>
                    <div id="unboltjointsmanhour" class="smallsize">
                        0
                    </div>
                    <div id="unboltjointsduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="rigactrigoutresource" class="smallsize">
                        0
                    </div>
                    <div id="rigactrigoutmanhour" class="smallsize">
                        0
                    </div>
                    <div id="rigactrigoutduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="intpipesupresource" class="smallsize">
                        0
                    </div>
                    <div id="intpipesupmanhour" class="smallsize">
                        0
                    </div>
                    <div id="intpipesupduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="rigactboltupresource" class="smallsize">
                        0
                    </div>
                    <div id="rigactboltupmanhour" class="smallsize">
                        0
                    </div>
                    <div id="rigactboltupduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="grindandprepresource" class="smallsize">
                        0
                    </div>
                    <div id="grindandprepmanhour" class="smallsize">
                        0
                    </div>
                    <div id="grindandprepduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="qcfitupcheckresource" class="smallsize">
                        0
                    </div>
                    <div id="qcfitupcheckmanhour" class="smallsize">
                        0
                    </div>
                    <div id="qcfitupcheckduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="fittackweldresource" class="smallsize">
                        0
                    </div>
                    <div id="fittackweldmanhour" class="smallsize">
                        0
                    </div>
                    <div id="fittackweldduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="boltupjointsresource" class="smallsize">
                        0
                    </div>
                    <div id="boltupjointsmanhour" class="smallsize">
                        0
                    </div>
                    <div id="boltupjointsduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="plumbplugresource" class="smallsize">
                        0
                    </div>
                    <div id="plumbplugmanhour" class="smallsize">
                        0
                    </div>
                    <div id="plumbplugduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="setuppurgeresource" class="smallsize">
                        0
                    </div>
                    <div id="setuppurgemanhour" class="smallsize">
                        0
                    </div>
                    <div id="setuppurgeduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="instpipesupresource" class="smallsize">
                        0
                    </div>
                    <div id="instpipesupmanhour" class="smallsize">
                        0
                    </div>
                    <div id="instpipesupduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="inststmtracresource" class="smallsize">
                        0
                    </div>
                    <div id="inststmtracmanhour" class="smallsize">
                        0
                    </div>
                    <div id="inststmtracduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="ndtresource" class="smallsize">
                        0
                    </div>
                    <div id="ndtmanhour" class="smallsize">
                        0
                    </div>
                    <div id="ndtduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="pwhtresource" class="smallsize">
                        0
                    </div>
                    <div id="pwhtmanhour" class="smallsize">
                        0
                    </div>
                    <div id="pwhtduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="ndtpwhtresource" class="smallsize">
                        0
                    </div>
                    <div id="ndtpwhtmanhour" class="smallsize">
                        0
                    </div>
                    <div id="ndtpwhtduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="insprepresource" class="smallsize">
                        0
                    </div>
                    <div id="insprepmanhour" class="smallsize">
                        0
                    </div>
                    <div id="insprepduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="prepandpresresource" class="smallsize">
                        0
                    </div>
                    <div id="prepandpresmanhour" class="smallsize">
                        0
                    </div>
                    <div id="prepandpresduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="reininstrresource" class="smallsize">
                        0
                    </div>
                    <div id="reininstrmanhour" class="smallsize">
                        0
                    </div>
                    <div id="reininstrduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="reinlineresource" class="smallsize">
                        0
                    </div>
                    <div id="reinlinemanhour" class="smallsize">
                        0
                    </div>
                    <div id="reinlineduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="tsaresource" class="smallsize">
                        0
                    </div>
                    <div id="tsamanhour" class="smallsize">
                        0
                    </div>
                    <div id="tsaduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="pickleresource" class="smallsize">
                        0
                    </div>
                    <div id="picklemanhour" class="smallsize">
                        0
                    </div>
                    <div id="pickleduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="flanmanresource" class="smallsize">
                        0
                    </div>
                    <div id="flanmanmanhour" class="smallsize">
                        0
                    </div>
                    <div id="flanmanduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="sapqcresource" class="smallsize">
                        0
                    </div>
                    <div id="sapqcmanhour" class="smallsize">
                        0
                    </div>
                    <div id="sapqcduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="maingrouper">
                    <div id="sapacresource" class="smallsize">
                        0
                    </div>
                    <div id="sapacmanhour" class="smallsize">
                        0
                    </div>
                    <div id="sapacduration" class="smallsize">
                        0
                    </div>
                </div>
            </div>
            <div id="epdsextras">
                <div class="maingrouper">
                    <div id="resourceheader" class="smallsize">
                        R
                    </div>
                    <div id="manhoursheader" class="smallsize">
                        M
                    </div>
                    <div id="durationheader" class="smallsize">
                        D
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="esriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="esriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="esriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="ririggersresources" class="smallsize">
                        0
                    </div>
                    <div id="ririggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="ririggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="ritriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="ritriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="ritriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="ptriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="ptriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="ptriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="opsverifyriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="opsverifyriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="opsverifyriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="opspermitsriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="opspermitsriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="opspermitsriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="hpflushriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="hpflushriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="hpflushriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="pbrushriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="pbrushriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="pbrushriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="dcinstrriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="dcinstrriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="dcinstrriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="coldcutlineriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="coldcutlineriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="coldcutlineriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="hotcutlineriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="hotcutlineriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="hotcutlineriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="dmstetraceriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="dmstetraceriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="dmstetraceriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="unboltjointriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="unboltjointriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="unboltjointriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="rigactrigoutriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="rigactrigoutriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="rigactrigoutriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="instpipesupriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="instpipesupriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="instpipesupriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="rigactboltupriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="rigactboltupriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="rigactboltupriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="grindandprepriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="grindandprepriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="grindandprepriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="qcfitupriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="qcfitupriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="qcfitupriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="fittackweldriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="fittackweldriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="fittackweldriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="boltupjointriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="boltupjointriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="boltupjointriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="plumbplugriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="plumbplugriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="plumbplugriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="setuppurgeriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="setupurgeriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="setuppurgeriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="instpipesupriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="instpipesupriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="instpipesupriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="inststmtracriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="inststmtracriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="inststmtracriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="ndtriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="ndtriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="ndtriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="pwhtriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="phwtriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="pwhtriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="ndtpwhtriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="ndtphwtriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="ndtpwhtriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="insprepriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="insprepriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="insprepriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="prepandpresriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="prepandpresriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="prepandpresriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="reininstrriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="reininstrriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="reininstrriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="reinlineriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="reinlineriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="reinlineriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="tsariggersresources" class="smallsize">
                        0
                    </div>
                    <div id="tsariggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="tsariggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="pickleriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="pickleriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="pickleriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="flanmanriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="flanmanriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="flanmanriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="sapqcriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="sapqcriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="sapqcriggersduration" class="smallsize">
                        0
                    </div>
                </div>
                <div class="extragrouper">
                    <div id="sapacriggersresources" class="smallsize">
                        0
                    </div>
                    <div id="sapacriggersmanhours" class="smallsize">
                        0
                    </div>
                    <div id="sapacriggersduration" class="smallsize">
                        0
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="buttongrouper">
                <div id="fieldweldbut">
                    <a href="/newfieldweld/" class="nodeclinks"><input type="button" value="Field Welds"></a>
                </div>
                <div class="tablediv">
                    {% for fieldwelds in fieldweldbase %}
                        <table class="tabelstyle">
                            <tr>
                                <td>L</td>
                                <td>{{ fieldwelds.lineclasses_id }}</td>
                            </tr>
                            <tr>
                                <td>D</td>
                                <td>{{ fieldwelds.diameter_id }}</td>
                            </tr>
                            <tr>
                                <td>FW</td>
                                <td>{{ fieldwelds.numberoffieldwelds }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="Edit">
                                </td>
                                <td>
                                    <input type="button" value="Delete">
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
            </div>
            <div class="buttongrouper">
                <div id="fieldweldbut">
                    <a href="/newdemolength/" class="nodeclinks"><input type="button" value="Demo Length"></a>
                </div>
            </div>
            <div class="buttongrouper">
                <div id="fieldweldbut">
                    <a href="/newinstalllength/" class="nodeclinks"><input type="button" value="Install Length"></a>
                </div>
            </div>
            <div class="buttongrouper">
                <div id="fieldweldbut">
                    <a href="/newflangept/" class="nodeclinks"><input type="button" value="Flange PT"></a>
                </div>
            </div>
            <div class="buttongrouper">
                <div id="fieldweldbut">
                    <a href="/newflangeri/" class="nodeclinks"><input type="button" value="Flange RI"></a>
                </div>
            </div>
            <div class="buttongrouper">
                <div id="fieldweldbut">
                    <a href="/newnumjoints/" class="nodeclinks"><input type="button" value="Num Joints"></a>
                </div>
            </div>
            <div class="buttongrouper">
                <div id="fieldweldbut">
                    <a href="/newcoldcuts/" class="nodeclinks"><input type="button" value="Num Cold Cuts"></a>
                </div>
            </div>
            <div class="buttongrouper">
                <div id="fieldweldbut">
                    <a href="/newhotcuts/" class="nodeclinks"><input type="button" value="Num Hot Cuts"></a>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block hotBar %}
    {% endblock %}
{% endblock %}