{% extends 'site_base.html' %}

{% block logoblock %}
    Piping Scope Database
{% endblock %}

{% block loginbox %}
{% endblock %}

{% block mainBar %}
    {% block titleBar %}
         <a href="/workpacks/get/{{ workpack.workpack_id }}"><img src="/static/images/buttons/packinfo.png" alt="Pack Info"></a>
         <a href="/showprefab/"><img src="/static/images/buttons/prefabselected.png" alt="Prefab"></a>
         <a href="/showspade/"><img src="/static/images/buttons/spade.png" alt="Spade"></a>
         <a href="/showreinstate/"><img src="/static/images/buttons/reinstate.png" alt="Reinstate"></a>
    {% endblock %}
    {% block contentBar %}
        {% if prefabs.count < 0 %}
            <script>
                alert("No prefab!");
            </script>
        {% else %}
            <table id="tableBox">
                <tr class="rows">
                    <td class="datas">Name</td>
                    <td class="datas">Size</td>
                    <td class="datas">Quantity</td>
                    <td class="datas">Lineclass</td>
                    <td class="datas">Code</td>
                </tr>
                {% for prefab in prefabs %}
                    <tr class="rows">
                        <td class="datas"><a class="workpacklinks" href="/prefabrication/get/{{ prefab.prefabrication_id }}">{{ prefab.matlist }}</a></td>
                        <td class="datas">{{ prefab.sizelist }}</td>
                        <td class="datas">{{ prefab.quantity }}</td>
                        <td class="datas">{{ prefab.lineclasses }}</td>
                        <td class="datas">{{ prefab.code }}</td>
                        <td><a href="editprefab"><img src="/static/images/buttons/editI.png"></a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endblock %}
    {% block hotBar %}
    {% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}