<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
        {%  block meta %}
            <link href="/static/css/site_base.css" rel="stylesheet" type="text/css">
            <script type="javascript" src="/static/javascript/jquery-1.11.1.min.js"></script>
            <script type="javascript" src="/static/javascript/base_functions.js"></script>
        {%  endblock %}
        {%  block title %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div id="logo">
                    {% block logoblock %}{% endblock %}
                </div>
                <div id="buttonBox">
                    <div id="homeBut">
                        <a href="/"><img src="/static/images/buttons/home.png" alt="Home"></a>
                    </div>
                </div>
                <div id="loginBox">
                    {% block loginbox %}{% endblock %}
                </div>
            </div>
            <div class="content">
                <div class="leftBar">
                    {% block leftBar %}
                            {% if workpacks.count < 0 %}
                                <script>
                                    alert("There are no workpacks in the database!");
                                </script>
                            {% else %}
                                <div id="leftHeader">
                                    Workpacks
                                </div>
                                <div id="workpackwrapper">
                            {% for workpack in workpacks %}
                                <div class="workpackinner"><a class="workpacklinks" href="/workpacks/get/{{ workpack.workpack_id }}">
                                    {{ workpack.workpacknumber }}</a></div>
                            {% endfor %}
                                </div>
                            {% endif %}
                        {% endblock %}
                </div>
                <div class="mainBar">
                    <div class="titleBar">
                        {% block titleBar %}{% endblock %}
                    </div>
                    <div class="contentBar">
                        {% block contentBar %}{% endblock %}
                    </div>
                    <div class="hotBar">
                        {% block hotBar %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="footer">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </body>
</html>