<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="workpackNumber">
        {{ workpack.workpacknumber }}
    </div>
    <div id="workpackLineNumber">
        {{ workpack.workpacklinenumber }}
    </div>
    <div id="workpackLineclass">
        {{ workpack.workpacklineclass }}
    </div>
    <div id="workpackProject">
        {{ workpack.project }}
    </div>
    <div id="workpackLead">
        {{ workpack.lead }}
    </div>
    <div id="workpackZone">
        {{ workpack.zone }}
    </div>
</body>
</html>